# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Images
*.png

# exclude data from source control by default
/data/
reports/figures/SDSS/
reports/figures_pre_new_code/
reports/figures_post_new_code_shuffle_non_unique_2_halo_fracs/
reports/figures_post_new_code_shuffle_normal_2_halo_fracs/
reports/figures_post_new_code_shuffle_unique_2_halo_fracs/
one_halo_conformity_quenched_fractions_plots_run.sh
one_halo_mark_correlation_plots_run.sh
two_halo_conformity_quenched_fractions_plots_run.sh
two_halo_mark_correlation_plots_run.sh
Synch_files.sh

# Folders
reports/figures
